<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
	<header class="header">
        <div class="header__left">
          <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" />
          </div>
          <div class="header__title">Task Management System</div>
        </div>
        <div class="header__center">
          <div class="add-task" id="addTask">Добавить задачу</div>
          <div class="header__navbar">
            <ul class="navbar">
              <li class="nav-item">В процессе</li>
              <li class="nav-item">Просроченные</li>
              <li class="nav-item">Завершённые</li>
            </ul>
          </div>
        </div>
        <div class="header__right">
          <div class="username" id="username">{{ current_user.username }}</div>
            <div class="dropdown" id="dropdownMenu">
            <ul>
              <li>Профиль</li>
              <li>Настройки</li>
              <li><a href="{{ url_for('logout') }}">Выйти</a></li>
            </ul>
          </div>
          <div>
            <img src="{{ url_for('static', filename='img/kitten.jpg') }}" alt="img" class="avatar" />
          </div>
        </div>
      </header>
{% block body %}
{% endblock %}
</div>
</body>
</html>
